#container{
    padding: 50px 150px;
    font-family: 'Raleway' , sans-serif;
}
#container div {
    min-height: 100px;
    height: fit-content;
    position: relative;
}
#container div p{
    width: 97%;
}
#container div textarea{
    display: none;
}
#container div.edit textarea{
    display: block;
    height: 200px;
    width: 100%;
    font-family: 'Raleway' , sans-serif;
    font-size: 1.2em;
}
#container div.edit p{
    display: none;
}
#container div button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    transition: 500ms;
    opacity: 0.5;
    outline: none;
    width: fit-content;
}
#container div button:hover{
    background-color: rgb(201, 201, 201);
    opacity: 1;
}
#container div:not(.editbuttons) > button{
    position: absolute;
    right: 0;
}
#container div.edit:not(.editbuttons) > button{
    display: none;
}
#container div button img{
    height: 20px;
}
#container div .editbuttons{
    display: none;
    justify-content: flex-end;
    height: 40px;
    min-height: 40px;
    margin-top: 5px;
}
#container div.edit .editbuttons{
    display: flex;
}